<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

update

<form action="../update" method="post" th:object="${user}">

    <p>
        <label>姓名：</label>
        <input type="text" name="name" value="" id="name" th:field="*{name}"/>
    </p>
    <p>
        <label>密码：</label>
        <input type="text" name="password" value="" id="password" th:field="*{password}"/>
    </p>
    <p>
        <input type="hidden" name="id" value="" id="id" th:field="*{id}"/>
        <input type="submit" value="修改">
    </p>
</form>

</body>
</html>